name: Pre-commit

on: [push, pull_request]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Install everything
        run: pip install -e .[dev]
      - name: Run pre-commit
        run: python3 -m pre_commit run --all-files
